* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.navbar {
    background-color: #1f2937;
    padding: 24px;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    margin-right: auto;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.nav-link {
    color: #e5e7eb;
    text-decoration: none;
}

.section-1 {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 84px 24px 142px;
}

.left-side,
.right-side {
    flex: 1;
}

.right-side {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080df;
}

.main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 900;
    display: block;
    margin-top: 12px;
    padding: 10px 36px;
    border-radius: 10px;
}

.section-2 {
    margin-top: 52px;
    margin-bottom: 96px;
}

.info-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.section-2 .container {
    justify-content: center;
    gap: 48px;
    margin-top: 48px;
}

.figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 180px;
}

.fig-image {
    width: 180px;
    height: 180px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.fig-info {
    text-align: center;
    color: gray;
    margin-top: 6px;
}